@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins.ttf');
  }

  @font-face {
    font-family: 'PoppinsBold';
    src: url('/assets/fonts/poppins_bold.ttf');
  }

  @font-face {
    font-family: 'PlusJakartaSansBold';
    src: url('/assets/fonts/plus_jakarta_sans_bold.ttf');
  }
}
